/super_view.pyc
/superword/__init__.pyc
/superword/settings.pyc
/superword/urls.pyc
/superword/views.pyc
/superword/wsgi.pyc
/wordplay/__init__.pyc
/wordplay/models.pyc
/wordplay/views.pyc
/wordplay/word_dictionary.pyc
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/scopes/scope_settings.xml
/.idea/superword.iml
/.idea/testrunner.xml
/.idea/vcs.xml
/.idea/workspace.xml
