{% extends "base.html" %}
{% block extra_scripts %}
    <script src="/static/js/superword.min.js"></script>
{% endblock %}
{% block page_content %}
    <div class="page-header">
      <h1>Word Quiz Thing:</h1>
    </div>
    <main class="bs-masthead" id="content" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1>{{ word }}</h1>
                    <span class="glyphicon glyphicon-eye-open"></span><span id="show-definition">&nbsp Show Definition</span>
                </div>
                <div class="col-md-4">
                    <br/>
                    <a href="/quiz/" class="btn btn-primary" id="next-word">New Word</a>

                </div>

            </div>
            <br/>
            <div class="row">
                <div class="col-md-5">
                    <p hidden class="lead" id="definition-container">{{ definition }}</p>
                </div>

            </div>

        </div>
    </main>

{% endblock %}